pipeline/BeneVap.json
{
	"name": "BeneVap",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_LANDING_EXCEL",
						"type": "DatasetReference",
						"parameters": {
							"ContainerName": "benevap",
							"FileName": {
								"value": "@coalesce(null)",
								"type": "Expression"
							},
							"WorkSheetName": "@coalesce(null)"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"modifiedDatetimeStart": null,
						"modifiedDatetimeEnd": null,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "SnowflakeV2Sink",
									"importSettings": {
										"type": "SnowflakeImportCopyCommand"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_LANDING_EXCEL",
									"type": "DatasetReference",
									"parameters": {
										"ContainerName": "benevap",
										"FileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"WorkSheetName": "@coalesce(null)"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_SNOWFLAKE",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"ContainerName": {
				"type": "string"
			}
		},
		"annotations": []
	}
}