pipeline/BeneVap.json
{
	"name": "BeneVap",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_LANDING_EXCEL",
						"type": "DatasetReference",
						"parameters": {
							"ContainerName": "benevap",
							"FileName": {
								"value": "@coalesce(null)",
								"type": "Expression"
							},
							"WorkSheetName": "@coalesce(null)",
							"Range": "@coalesce(null)"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "SnowflakeV2Sink",
									"importSettings": {
										"type": "SnowflakeImportCopyCommand"
									}
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "LS_Landing",
										"type": "LinkedServiceReference"
									},
									"path": "benevap"
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Timestamp",
												"type": "String"
											},
											"sink": {
												"name": "TIMESTAMP",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "Daily Influent (L/d)",
												"type": "String"
											},
											"sink": {
												"name": "DAILY_INFLUENT",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "Daily Evap (L/d)",
												"type": "String"
											},
											"sink": {
												"name": "DAILY_EVAP",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "Antifoam Vol (L/d)",
												"type": "String"
											},
											"sink": {
												"name": "ANTIFOAM_VOL",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "Up-Time (h.h)",
												"type": "String"
											},
											"sink": {
												"name": "UP_TIME",
												"type": "Double"
											}
										},
										{
											"source": {
												"name": "Vessel Temp (°C)",
												"type": "String"
											},
											"sink": {
												"name": "VESSEL_TEMP",
												"type": "Double"
											}
										},
										{
											"source": {
												"name": "Disch Vol (L/d)",
												"type": "String"
											},
											"sink": {
												"name": "DISCH_VOL",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "Fuel Cumulative (SCMD)",
												"type": "String"
											},
											"sink": {
												"name": "FUEL_CUMULATIVE",
												"type": "Int64"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "DS_LANDING_EXCEL",
									"type": "DatasetReference",
									"parameters": {
										"ContainerName": "benevap",
										"FileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"WorkSheetName": {
											"value": "Sheet1",
											"type": "Expression"
										},
										"Range": "A4:I1048576"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_SNOWFLAKE",
									"type": "DatasetReference",
									"parameters": {
										"TableName": "BENNEVAP__KENDRA_OPERATING"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Copy data2",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"additionalColumns": [
							{
								"name": "site_id",
								"value": "KVL"
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "SnowflakeV2Sink",
						"importSettings": {
							"type": "SnowflakeImportCopyCommand"
						}
					},
					"enableStaging": true,
					"stagingSettings": {
						"linkedServiceName": {
							"referenceName": "LS_Landing",
							"type": "LinkedServiceReference"
						},
						"path": "benevap"
					},
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['12']"
								}
							},
							{
								"source": {
									"path": "['26']"
								}
							},
							{
								"source": {
									"path": "['30']"
								}
							},
							{
								"source": {
									"path": "['51']"
								}
							},
							{
								"source": {
									"path": "['55']"
								}
							},
							{
								"source": {
									"path": "['57']"
								}
							},
							{
								"source": {
									"path": "['64']"
								}
							},
							{
								"source": {
									"path": "['66']"
								}
							},
							{
								"source": {
									"path": "['t_stamp']"
								}
							},
							{
								"source": {
									"path": "$['site_id']"
								}
							}
						],
						"collectionReference": "$['timeseries']"
					}
				},
				"inputs": [
					{
						"referenceName": "DS_LANDING_JSON",
						"type": "DatasetReference",
						"parameters": {
							"ContainerName": "benevap",
							"DirectoryName": {
								"value": "@coalesce(null)",
								"type": "Expression"
							},
							"FileName": "benedata_api_response_sample_2.json"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_SNOWFLAKE",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "BENNEVAP__KENDRA_OPERATING"
						}
					}
				]
			}
		],
		"annotations": []
	}
}