pipeline/WeighBridge.json
{
	"name": "WeighBridge",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_LANDING_EXCEL",
						"type": "DatasetReference",
						"parameters": {
							"ContainerName": "weighbridge",
							"FileName": {
								"value": "@coalesce(null)",
								"type": "Expression"
							},
							"WorkSheetName": "@coalesce(null)",
							"Range": "@coalesce(null)"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "SnowflakeV2Sink",
									"preCopyScript": {
										"value": "@concat('BEGIN \\\\n USE SCHEMA RAW; \\n TRUNCATE TABLE ', toUpper(concat('WEIGHBRIDGE__',replace(replace(item().name,'.xlsx',''),' ', '_'))),'; \\\\n END')",
										"type": "Expression"
									},
									"importSettings": {
										"type": "SnowflakeImportCopyCommand"
									}
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "LS_Landing",
										"type": "LinkedServiceReference"
									},
									"path": "weighbridge"
								}
							},
							"inputs": [
								{
									"referenceName": "DS_LANDING_EXCEL",
									"type": "DatasetReference",
									"parameters": {
										"ContainerName": "weighbridge",
										"FileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"WorkSheetName": {
											"value": "@replace(replace(item().name,'.xlsx',''),' ', '_')",
											"type": "Expression"
										},
										"Range": "@coalesce(null)"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_SNOWFLAKE",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@toUpper(concat('WEIGHBRIDGE__',replace(replace(item().name,'.xlsx',''),' ', '_')))",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}