cdhdatafactorydev/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "cdhdatafactorydev"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/VaultGRC')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT\t\nTABLE_NAME\nFROM INFORMATION_SCHEMA.TABLES\nWHERE TABLE_SCHEMA = 'dbo'\n",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_DAMSTRA",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": {
										"value": "@coalesce(null)",
										"type": "Expression"
									},
									"TableName": "@coalesce(null)"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "EventId",
														"type": "Int32",
														"physicalType": "int"
													},
													"sink": {
														"type": "String",
														"physicalType": "String",
														"ordinal": 1
													}
												},
												{
													"source": {
														"name": "EventDate",
														"type": "DateTime",
														"physicalType": "date"
													},
													"sink": {
														"type": "String",
														"physicalType": "String",
														"ordinal": 2
													}
												},
												{
													"source": {
														"name": "EventType",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"type": "String",
														"physicalType": "String",
														"ordinal": 3
													}
												},
												{
													"source": {
														"name": "EventInjuryType",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"type": "String",
														"physicalType": "String",
														"ordinal": 4
													}
												},
												{
													"source": {
														"name": "EventCategory",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"type": "String",
														"physicalType": "String",
														"ordinal": 5
													}
												},
												{
													"source": {
														"name": "Environment",
														"type": "Byte",
														"physicalType": "tinyint"
													},
													"sink": {
														"type": "String",
														"physicalType": "String",
														"ordinal": 6
													}
												},
												{
													"source": {
														"name": "Notifiable",
														"type": "Int32",
														"physicalType": "int"
													},
													"sink": {
														"type": "String",
														"physicalType": "String",
														"ordinal": 7
													}
												},
												{
													"source": {
														"name": "Fatality",
														"type": "Int32",
														"physicalType": "int"
													},
													"sink": {
														"type": "String",
														"physicalType": "String",
														"ordinal": 8
													}
												},
												{
													"source": {
														"name": "MVA",
														"type": "Int32",
														"physicalType": "int"
													},
													"sink": {
														"type": "String",
														"physicalType": "String",
														"ordinal": 9
													}
												},
												{
													"source": {
														"name": "EventSeverity",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"type": "String",
														"physicalType": "String",
														"ordinal": 10
													}
												},
												{
													"source": {
														"name": "EventStatus",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"type": "String",
														"physicalType": "String",
														"ordinal": 11
													}
												},
												{
													"source": {
														"name": "PersonType",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"type": "String",
														"physicalType": "String",
														"ordinal": 12
													}
												},
												{
													"source": {
														"name": "SiteName",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"type": "String",
														"physicalType": "String",
														"ordinal": 13
													}
												},
												{
													"source": {
														"name": "Subject",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"type": "String",
														"physicalType": "String",
														"ordinal": 14
													}
												},
												{
													"source": {
														"name": "InjuryTreatmentRequired",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"type": "String",
														"physicalType": "String",
														"ordinal": 15
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_DAMSTRA",
											"type": "DatasetReference",
											"parameters": {
												"SchemaName": "dbo",
												"TableName": {
													"value": "@item().TABLE_NAME",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_LANDING_CSV",
											"type": "DatasetReference",
											"parameters": {
												"ContainerName": "vaultgrc",
												"RelativePath": {
													"value": "@coalesce(null)",
													"type": "Expression"
												},
												"FileName": {
													"value": "@concat(item().TABLE_NAME, '.csv')",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "Copy data2",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ForEach1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SnowflakeV2Sink",
								"importSettings": {
									"type": "SnowflakeImportCopyCommand"
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "LS_Landing",
									"type": "LinkedServiceReference"
								},
								"path": "vaultgrc"
							}
						},
						"inputs": [
							{
								"referenceName": "DS_LANDING_CSV",
								"type": "DatasetReference",
								"parameters": {
									"ContainerName": "vaultgrc",
									"RelativePath": {
										"value": "@coalesce(null)",
										"type": "Expression"
									},
									"FileName": "CSV_AllEvent.csv"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SNOWFLAKE",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "VAULTGRC__CSV_ALLEVENT"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}